html, body {
    margin: 0;
    height: 100%;
}

body {
    background: linear-gradient(to right, #4E31AA, #2F58CD);
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: Roboto Condensed, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sidebar {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    color: inherit;
    border: 1px solid white;
}

#sidebar > div {
    color: inherit;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

#tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    width: 400px;
    height: 400px;
}

#victory-screen {
    position: fixed;
    border: 1px solid white;
    backdrop-filter: blur(2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

.square {
    border: 1px solid white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    font-family: 'Delicious Handrawn', cursive;
}

.no-pointer-events {
    pointer-events: none;
}

.hidden {
    display: none;
}

button {
    padding: 8px;
    font-family: inherit;
}