html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#sidebar {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    color: inherit;
    border: 1px solid white;
}

#sidebar > div {
    color: inherit;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

#tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    width: 400px;
    height: 400px;
}

#victory-screen {
    position: fixed;
    border: 1px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
}

.no-pointer-events {
    pointer-events: none;
}

.hidden {
    display: none;
}

button {
    padding: 8px;
}